<% provide(:title, "Home") %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<h1> Sample App</h1>
<p>
  This is the home page for  the
  <a href="http://www.railstutorial.com"> Ruby on Rails Tutorial</a>
  sample application.
</p>
